<!DOCTYPE html>
<html>
<head>
    <title>Clientes - ERP</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>👥 Clientes</h1>

<div class="nav">
    <a href="/"><button>🏠 Inicio</button></a>
    <a href="/dashboard"><button>📊 Dashboard</button></a>
</div>

<div class="container">

    {% for c in clientes %}

        <div class="card">

            <h3>👤 {{c['nombre']}}</h3>

            <p>💰 Total comprado:</p>

            <h2>
                ${{ c['total_comprado'] or 0 }}
            </h2>

        </div>

    {% endfor %}

</div>

</body>
</html>
