{% extends "base.html" %}
{% block content %}
<h2>Registrar Compra</h2>
<div class="card">
    <form action="/agregar_compra" method="POST">
        <input type="text" name="lugar" placeholder="Proveedor / Lugar">
        
        <input list="lista-prods" name="producto" placeholder="Escribí o seleccioná producto" required>
        <datalist id="lista-prods">
            {% for p in productos %}
            <option value="{{ p.nombre }}">
            {% endfor %}
        </datalist>

        <input type="number" name="cantidad" placeholder="Cantidad" required>
        <input type="number" step="0.01" name="total" placeholder="Costo total $" required>
        <button type="submit">Guardar Compra</button>
    </form>
</div>

<h3>Historial</h3>
{% for h in historial %}
<div class="card">
    <b>{{ h.producto }}</b> ({{ h.cantidad }} un.) - ${{ h.total }}<br>
    <small>{{ h.lugar }} - {{ h.fecha }}</small>
</div>
{% endfor %}
{% endblock %}
